{% extends 'base.html' %}
{% block litle %}
Страница о нас
{% endblock %}
{% block body %}
<div class="container">
   <h1>Добавление статьи</h1>
    <form method="post">
        <form method="post" name="inform">
        <select name="menu" size="1">
        <option value="news" >Новости</option>
        <option selected="selected" value="nformation">Информация</option>
        <option selected="selected" value="important information ">Важная информация</option>
        </select>

        </form>
        <input type = "text" name = "title" id = "title"class = "form-control" placeholder="Введите название"><br>
        <textarea name = "intro" id = "intro" class = "form-control"placeholder="Введите анонс"></textarea><br>
        <textarea name = "text" id = "text" class = "form-control" placeholder="Введите основной текст"></textarea><br>
        <input type = submit class = "btn btn-success" value="Отправить">
        </form>
</div>

{% endblock %}