
<form method="post">
    <div class="col-sm-4 col-lg-4 col-md-4">
        <select title="thing" class="form-control" id="myselect" name="thing" required>
            <option value="" {% if thing=='' %} selected {% endif %} ></option>
            <option value="Foo" name="Foo" id="Foo" {% if thing =="Foo" %} selected {% endif %} >Foo</option>
            <option value="Bar" name="Bar" id="Bar" {% if thing =='Bar' %} selected {% endif %}>Bar</option>
        </select>
        <button type="submit">SEND</button>
    </div>
</form>